CM2017/Service References/EventosServicios/Eventos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CM2017.Propiedades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CM2017.Propiedades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Eventos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaTerapeutica" type="xs:int" />
      <xs:element minOccurs="0" name="Division" type="xs:int" />
      <xs:element minOccurs="0" name="FechaFinEvento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioEvento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlujoAutorizacion" type="xs:int" />
      <xs:element minOccurs="0" name="GteProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invitados" type="xs:int" />
      <xs:element minOccurs="0" name="Locacion1" type="xs:int" />
      <xs:element minOccurs="0" name="Locacion2" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objetivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamLeader" type="xs:int" />
      <xs:element minOccurs="0" name="TipoAudiencia" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eventos" nillable="true" type="tns:Eventos" />
</xs:schema>